---
layout: default
title: Become an Apprentice
---

<!-- Heading -->
<section class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll loaded dzsprx-readyall" data-options="{direction: &quot;fromtop&quot;, animation_duration: 25, direction: &quot;reverse&quot;}">
    <div class="divimage dzsparallaxer--target w-100 u-bg-overlay g-bg-black-opacity-0_3--after" style="height: 140%; background-image: url({{ site.baseurl }}/assets/custom/img/careers/careers_hero.jpg); transform: translate3d(0px, -40.0274px, 0px);"></div>
    <div class="container g-color-white text-center g-py-90">
        <div class="u-heading-v2-6--bottom g-brd-primary g-mb-40">
            <h2 class="text-uppercase u-heading-v2__title g-mb-10">{% t careers.become_an_apprentice.title %}</h2>
            <h4 class="g-font-weight-200">{% t careers.become_an_apprentice.description %}</h4>
        </div>
        <div class="text-center">
            <a class="btn btn-md u-btn-primary text-uppercase g-mr-10 g-mb-15" data-modal-target="#apprentice-form" href="#apprentice-form">Apply Now</a>
            {% include apply_form.html title = "Become an Apprentice" target = "apprentice" %}
        </div>
    </div>
</section>
<!-- End Heading -->
<!-- What we Teach -->
<section class="g-py-50 g-pb-100 g-bg-gray-light-v5">
    <div class="container">
        <div class="text-center mb-4">
            <h2 class="h3 text-uppercase mb-3">What we teach</h2>
            <div class="d-inline-block g-width-60 g-height-1 g-bg-orange mb-2"></div>
            <p class="lead mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas risus massa, ultrices ut tortor ac, posuere tristique dui. Mauris pretium vulputate vehicula. Ut a hendrerit magna, eget venenatis metus. Donec.</p>
        </div>
        <!-- Info Blocks -->
        <div class="row align-items-stretch no-gutters">
            <div class="col-md-4">
                <!-- Article -->
                <article class="d-flex flex-wrap text-center g-font-size-16">
                <div class="order-2 w-100">
                    <img class="w-100" src="{{ site.baseurl }}/assets/custom/img/careers/coding.jpg" alt="Image Description">
                </div>
                <div class="order-1 w-100 u-ns-bg-v1-bottom g-bg-white g-z-index-1 g-py-100 g-px-50">
                    <h3 class="h5 g-color-primary g-font-weight-700 text-uppercase g-mb-20">We Know Our Job</h3>
                    <p class="mb-0">This is where we sit down, grab a cup of coffee and dial in the details.</p>
                </div>
                </article>
                <!-- End Article -->
            </div>

            <div class="col-md-4">
                <!-- Article -->
                <article class="d-flex flex-wrap text-center g-color-white g-font-size-16">
                <div class="order-1 w-100">
                    <img class="w-100" src="{{ site.baseurl }}/assets/custom/img/careers/automationandops.jpg" alt="Image Description">
                </div>
                <div class="order-2 w-100 u-ns-bg-v1-top g-bg-primary g-z-index-1 g-py-100 g-px-50">
                    <h3 class="h5 g-mb-20 g-font-weight-700 text-uppercase">We Are The Best</h3>
                    <p class="mb-0">This is where we sit down, grab a cup of coffee and dial in the details.</p>
                </div>
                </article>
                <!-- End Article -->
            </div>

            <div class="col-md-4">
                <!-- Article -->
                <article class="d-flex flex-wrap text-center g-font-size-16">
                <div class="order-2 w-100">
                    <img class="w-100" src="{{ site.baseurl }}/assets/custom/img/careers/architecture.jpg" alt="Image Description">
                </div>
                <div class="order-1 w-100 u-ns-bg-v1-bottom g-bg-white g-z-index-1 g-py-100 g-px-50">
                    <h3 class="h5 g-color-primary g-font-weight-700 text-uppercase g-mb-20">We Are Winners</h3>
                    <p class="mb-0">This is where we sit down, grab a cup of coffee and dial in the details.</p>
                </div>
                </article>
                <!-- End Article -->
            </div>
        </div>
        <!-- End Info Blocks -->
    </div>
</section>
<!-- End what we teach -->
<!-- How the program works --> 
<section>
    <!-- Info Blocks -->
    <div class="row no-gutters">
        <!-- Info Image -->
        <div class="col-lg-5 g-min-height-360 g-bg-size-cover g-bg-pos-center" data-bg-img-src="{{ site.baseurl }}/assets/custom/img/careers/consultancy.jpg"></div>
        <!-- End Info Image -->

        <div class="col-lg-7 g-pt-100 g-pb-80 g-px-80">
            <header class="text-uppercase g-mb-35">
                <div class="text-center mb-4">
                    <h2 class="h3 text-uppercase mb-3">How the program works</h2>
                    <div class="d-inline-block g-width-60 g-height-1 g-bg-orange mb-2"></div>
                    <p class="lead mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas risus massa, ultrices ut tortor ac, posuere tristique dui. Mauris pretium vulputate vehicula. Ut a hendrerit magna, eget venenatis metus. Donec.</p>
                </div>
            </header>

            <p class="g-color-white-opacity-0_7 g-mb-65">This is where we sit down, grab a cup of coffee and dial in the details. Understanding the task at hand and ironing out the wrinkles is key.</p>

            <div class="row align-items-stretch">
                <div class="col-sm-6 g-mb-30">
                    <!-- Article -->
                    <article class="h-100 g-flex-middle g-brd-left g-brd-3 g-brd-primary g-brd-white--hover g-bg-gray-light-v5 g-transition-0_3 g-pa-20">
                    <div class="g-flex-middle-item">
                        <h4 class="h6 g-font-weight-600 text-uppercase g-mb-10">Agency Search</h4>
                        <p class="mb-0">Now that your brand is all dressed up and ready to party.</p>
                    </div>
                    </article>
                    <!-- End Article -->
                </div>

                <div class="col-sm-6 g-mb-30">
                    <!-- Article -->
                    <article class="h-100 g-flex-middle g-brd-left g-brd-3 g-brd-primary g-brd-white--hover g-bg-gray-light-v5 g-transition-0_3 g-pa-20">
                    <div class="g-flex-middle-item">
                        <h4 class="h6 g-font-weight-600 text-uppercase g-mb-10">Management &amp; Marketing</h4>
                        <p class="mb-0">Now that your brand is all dressed up and ready to party.</p>
                    </div>
                    </article>
                    <!-- End Article -->
                </div>
            </div>

            <div class="row align-items-stretch">
                <div class="col-sm-6 g-mb-30">
                    <!-- Article -->
                    <article class="h-100 g-flex-middle g-brd-left g-brd-3 g-brd-primary g-brd-white--hover g-bg-gray-light-v5 g-transition-0_3 g-pa-20">
                    <div class="g-flex-middle-item">
                        <h4 class="h6 g-font-weight-600 text-uppercase g-mb-10">Coaching &amp; Planning</h4>
                        <p class="mb-0">Now that your brand is all dressed up and ready to party.</p>
                    </div>
                    </article>
                    <!-- End Article -->
                </div>

                <div class="col-sm-6 g-mb-30">
                    <!-- Article -->
                    <article class="h-100 g-flex-middle g-brd-left g-brd-3 g-brd-primary g-brd-white--hover g-bg-gray-light-v5 g-transition-0_3 g-pa-20">
                    <div class="g-flex-middle-item">
                        <h4 class="h6 g-font-weight-600 text-uppercase g-mb-10">Consulation Services</h4>
                        <p class="mb-0">Now that your brand is all dressed up and ready to party.</p>
                    </div>
                    </article>
                    <!-- End Article -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Info Blocks -->
</section>
<!-- End How the program works --> 
<!-- What you will need and finish with --> 
<section class="g-pt-100 g-pb-50 g-bg-gray-light-v5">
    <div class="container"> 


        <div class="row">
            <div class="col-lg-6">
                <div class="mb-5">
                    <div class="row justify-content-center g-mb-60">
                        <div class="text-center mb-4">
                            <h2 class="h3 text-uppercase mb-3">What you will need</h2>
                            <div class="d-inline-block g-width-60 g-height-1 g-bg-orange mb-2"></div>
                            <p class="lead mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas risus massa, ultrices ut tortor ac, posuere tristique dui. Mauris pretium vulputate vehicula. Ut a hendrerit magna, eget venenatis metus. Donec.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="list-unstyled g-font-size-13 mb-0">
                                <li class="d-flex mb-3">
                                    <i class="g-color-primary g-mt-5 g-mr-10 icon-check"></i>
                                    Jacks of all. Experts in all.
                                </li>
                                <li class="d-flex mb-3">
                                    <i class="g-color-primary g-mt-5 g-mr-10 icon-check"></i>
                                    It's good to virtually meet you.
                                </li>
                                <li class="d-flex mb-3">
                                    <i class="g-color-primary g-mt-5 g-mr-10 icon-check"></i>
                                    A crew of creative doers.
                                </li>
                                <li class="d-flex mb-3">
                                    <i class="g-color-primary g-mt-5 g-mr-10 icon-check"></i>
                                    Let's create something great.
                                </li>
                            </ul>
                        </div>

                        <div class="col-sm-6">
                            <ul class="list-unstyled g-font-size-13 mb-0">
                                <li class="d-flex mb-3">
                                    <i class="g-color-primary g-mt-5 g-mr-10 icon-check"></i>
                                    We're accepting projects today.
                                </li>
                                <li class="d-flex mb-3">
                                    <i class="g-color-primary g-mt-5 g-mr-10 icon-check"></i>
                                    Finding your perfect plan.
                                </li>
                                <li class="d-flex mb-3">
                                    <i class="g-color-primary g-mt-5 g-mr-10 icon-check"></i>
                                    Examples of branding projects.
                                </li>
                                <li class="d-flex mb-3">
                                    <i class="g-color-primary g-mt-5 g-mr-10 icon-check"></i>
                                    Your brand has a story to tell.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="mb-5">
                    <div class="row justify-content-center g-mb-60">
                        <div class="text-center mb-4">
                            <h2 class="h3 text-uppercase mb-3">What you will finish with</h2>
                            <div class="d-inline-block g-width-60 g-height-1 g-bg-orange mb-2"></div>
                            <p class="lead mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas risus massa, ultrices ut tortor ac, posuere tristique dui. Mauris pretium vulputate vehicula. Ut a hendrerit magna, eget venenatis metus. Donec.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="list-unstyled g-font-size-13 mb-0">
                                <li class="d-flex mb-3">
                                    <i class="g-color-primary g-mt-5 g-mr-10 icon-check"></i>
                                    Jacks of all. Experts in all.
                                </li>
                                <li class="d-flex mb-3">
                                    <i class="g-color-primary g-mt-5 g-mr-10 icon-check"></i>
                                    It's good to virtually meet you.
                                </li>
                                <li class="d-flex mb-3">
                                    <i class="g-color-primary g-mt-5 g-mr-10 icon-check"></i>
                                    A crew of creative doers.
                                </li>
                                <li class="d-flex mb-3">
                                    <i class="g-color-primary g-mt-5 g-mr-10 icon-check"></i>
                                    Let's create something great.
                                </li>
                            </ul>
                        </div>

                        <div class="col-sm-6">
                            <ul class="list-unstyled g-font-size-13 mb-0">
                                <li class="d-flex mb-3">
                                    <i class="g-color-primary g-mt-5 g-mr-10 icon-check"></i>
                                    We're accepting projects today.
                                </li>
                                <li class="d-flex mb-3">
                                    <i class="g-color-primary g-mt-5 g-mr-10 icon-check"></i>
                                    Finding your perfect plan.
                                </li>
                                <li class="d-flex mb-3">
                                    <i class="g-color-primary g-mt-5 g-mr-10 icon-check"></i>
                                    Examples of branding projects.
                                </li>
                                <li class="d-flex mb-3">
                                    <i class="g-color-primary g-mt-5 g-mr-10 icon-check"></i>
                                    Your brand has a story to tell.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End what you will need and finish with --> 
<!-- Call to Action --> 
<section class="g-bg-orange g-color-white g-pa-30">
    <div class="d-md-flex justify-content-md-center text-center">
        <div class="align-self-md-center">
            <p class="lead g-font-weight-400 g-color-white g-mr-20--md g-mb-15 g-mb-0--md">Interested in joining our teams in London or Barcelona?</p>
        </div>
        <div class="align-self-md-center">
            <a class="btn btn-lg u-btn-white text-uppercase g-font-weight-600 g-font-size-12" data-modal-target="#apprentice-form" href="#apprentice-form">Apply Now</a>
        </div>
    </div>
</section>
<!-- End Call to action --> 
<!-- Hear from past apprentices --> 
<section class="g-py-50 g-pb-100 g-bg-gray-light-v5">
    <div class="container">
        <div class="text-center mb-4">
            <h2 class="h3 text-uppercase mb-3">Hear from past apprentices</h2>
            <div class="d-inline-block g-width-60 g-height-1 g-bg-orange mb-2"></div>
            <p class="lead mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas risus massa, ultrices ut tortor ac, posuere tristique dui. Mauris pretium vulputate vehicula. Ut a hendrerit magna, eget venenatis metus. Donec.</p>
        </div>
        <!-- Team Block -->
        <div class="u-carousel-v10 g-max-width-800 mx-auto">
            <div id="js-carousel-sync-for" class="js-carousel" data-slides-show="1" data-slides-scroll="1" data-infinite="true" data-fade="true" data-center-mode="true" data-pagi="true" data-adaptive-height="true" data-nav-for="#js-carousel-sync-nav">
                <div class="js-slide">
                <!-- Figure -->
                <figure class="row">
                    <div class="col-sm-6 order-sm-2">
                        <!-- Figure Info -->
                        <div class="g-mb-30">
                            <h4 class="h5 g-color-black g-mb-5">Maria Olsson</h4>
                            <em class="d-block u-info-v1-5__item g-color-primary g-font-style-normal g-font-size-11 text-uppercase">Phd in Healthcare</em>
                        </div>
                        <p>I am an ambitious workaholic, but apart from that, pretty simple person. Understanding who you are and what you want is my strategy for your brand. I am always figuring out ways to capture your vision, so people can get on board.</p>
                        <!-- End Figure Info -->
                    </div>

                    <!-- Figure Image -->
                    <div class="col-sm-5 order-sm-1">
                        <img class="w-100" src="{{ site.baseurl }}/assets/custom/img/team/andrzej_rehmann.jpg" alt="Image Description">
                    </div>
                    <!-- End Figure Image -->
                </figure>
                <!-- End Figure -->
                </div>

                <div class="js-slide">
                    <!-- Figure -->
                    <figure class="row">
                        <div class="col-sm-6 order-sm-2">
                            <!-- Figure Info -->
                            <div class="g-mb-30">
                                <h4 class="h5 g-color-black g-mb-5">Sara Lisbon</h4>
                                <em class="d-block u-info-v1-5__item g-color-primary g-font-style-normal g-font-size-11 text-uppercase">Phd in Healthcare</em>
                            </div>
                            <p>I am an ambitious workaholic, but apart from that, pretty simple person. Understanding who you are and what you want is my strategy for your brand. I am always figuring out ways to capture your vision, so people can get on board.</p>
                            <!-- End Figure Info -->
                        </div>

                        <!-- Figure Image -->
                        <div class="col-sm-5 order-sm-1">
                            <img class="w-100" src="{{ site.baseurl }}/assets/custom/img/team/daniel_bergquist.jpg" alt="Image Description">
                        </div>
                        <!-- End Figure Image -->
                </figure>
                <!-- End Figure -->
                </div>

                <div class="js-slide">
                    <!-- Figure -->
                    <figure class="row">
                        <div class="col-sm-6 order-sm-2">
                            <!-- Figure Info -->
                            <div class="g-mb-30">
                                <h4 class="h5 g-color-black g-mb-5">Evan Bohringer</h4>
                                <em class="d-block u-info-v1-5__item g-color-primary g-font-style-normal g-font-size-11 text-uppercase">Phd in Healthcare</em>
                            </div>
                            <p>I am an ambitious workaholic, but apart from that, pretty simple person. Understanding who you are and what you want is my strategy for your brand. I am always figuring out ways to capture your vision, so people can get on board.</p>
                            <!-- End Figure Info -->
                        </div>

                        <!-- Figure Image -->
                        <div class="col-sm-5 order-sm-1">
                            <img class="w-100" src="{{ site.baseurl }}/assets/custom/img/team/christina_ripley.jpg" alt="Image Description">
                        </div>
                        <!-- End Figure Image -->
                    </figure>
                    <!-- End Figure -->
                </div>

                <div class="js-slide">
                    <!-- Figure -->
                    <figure class="row">
                        <div class="col-sm-6 order-sm-2">
                        <!-- Figure Info -->
                            <div class="g-mb-30">
                                <h4 class="h5 g-color-black g-mb-5">Jane Wearne</h4>
                                <em class="d-block u-info-v1-5__item g-color-primary g-font-style-normal g-font-size-11 text-uppercase">Phd in Healthcare</em>
                            </div>
                            <p>I am an ambitious workaholic, but apart from that, pretty simple person. Understanding who you are and what you want is my strategy for your brand. I am always figuring out ways to capture your vision, so people can get on board.</p>
                        <!-- End Figure Info -->
                        </div>

                        <!-- Figure Image -->
                        <div class="col-sm-5 order-sm-1">
                            <img class="w-100" src="{{ site.baseurl }}/assets/custom/img/team/safoura_boyot.jpg" alt="Image Description">
                        </div>
                        <!-- End Figure Image -->
                    </figure>
                    <!-- End Figure -->
                </div>

                <div class="js-slide">
                    <!-- Figure -->
                    <figure class="row">
                        <div class="col-sm-6 order-sm-2">
                        <!-- Figure Info -->
                            <div class="g-mb-30">
                                <h4 class="h5 g-color-black g-mb-5">Nicholas Robertson</h4>
                                <em class="d-block u-info-v1-5__item g-color-primary g-font-style-normal g-font-size-11 text-uppercase">Phd in Healthcare</em>
                            </div>
                            <p>I am an ambitious workaholic, but apart from that, pretty simple person. Understanding who you are and what you want is my strategy for your brand. I am always figuring out ways to capture your vision, so people can get on board.</p>
                        <!-- End Figure Info -->
                        </div>

                        <!-- Figure Image -->
                        <div class="col-sm-5 order-sm-1">
                            <img class="w-100" src="{{ site.baseurl }}/assets/custom/img/team/sandro_viljoen.jpg" alt="Image Description">
                        </div>
                        <!-- End Figure Image -->
                    </figure>
                    <!-- End Figure -->
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 ml-md-auto">
                <!-- Carousel Nav -->
                    <div id="js-carousel-sync-nav" class="js-carousel u-carousel-v10-nav" data-slides-show="4" data-slides-scroll="1" data-focus-on-select="true" data-center-mode="true" data-nav-for="#js-carousel-sync-for">
                        <div class="js-slide g-mx-3">
                            <img class="w-100" src="{{ site.baseurl }}/assets/custom/img/team/andrzej_rehmann.jpg" alt="Image Description">
                        </div>

                        <div class="js-slide g-mx-3">
                            <img class="w-100" src="{{ site.baseurl }}/assets/custom/img/team/daniel_bergquist.jpg" alt="Image Description">
                        </div>

                        <div class="js-slide g-mx-3">
                            <img class="w-100" src="{{ site.baseurl }}/assets/custom/img/team/christina_ripley.jpg" alt="Image Description">
                        </div>

                        <div class="js-slide g-mx-3">
                            <img class="w-100" src="{{ site.baseurl }}/assets/custom/img/team/safoura_boyot.jpg" alt="Image Description">
                        </div>

                        <div class="js-slide g-mx-3">
                            <img class="w-100" src="{{ site.baseurl }}/assets/custom/img/team/sandro_viljoen.jpg" alt="Image Description">
                        </div>
                    </div>
                <!-- End Carousel Nav -->
                </div>
            </div>
        </div>
        <!-- End Team Block -->
    </div>
</section>
<!-- End Hear from past apprentices --> 
<!-- Life as an Apprentice -->
<section class="g-py-50" id="publications">
    <div class="container">
        <div class="text-center mb-4">
            <h2 class="h3 text-uppercase mb-3">{% t careers.life_at_codurance_title %}</h2>
            <div class="d-inline-block g-width-60 g-height-1 g-bg-orange mb-2"></div>
            <p class="lead mb-0">{% t careers.life_at_codurance_subtitle %}</p>
        </div>
        <div class="row mx-0">
            {% for post in site.categories[page.category] limit : 3 %}
                {% if post.image.src and post.image.src contains '://' %}
                    {% assign postImgUrl = post.image.src %}
                    {% elsif post.image.src%}
                    {% assign postImgUrl = post.image.src | prepend: site.baseurl %}
                {% else %}
                    {% assign postImgUrl = site.default_post_image | prepend: site.baseurl %}
                {% endif %}
                <div class="col-lg-4 px-0 g-mb-30">
                    <!-- Article -->
                    <article class="u-block-hover g-brd-around g-brd-top-none g-brd-gray-light-v4  h-100">
                        <figure class="g-overflow-hidden" style="height: 240px;">
                            <a href="{{ post.url | prepend: site.baseurl }}">
                                <img class="img-fluid w-100 u-block-hover__main--zoom-v1" src="{{ postImgUrl }}">
                            </a>
                        </figure>

                        <div class="text-center g-pa-40">
                            <h3 class="h4 text-uppercase g-font-weight-600 g-mb-10">
                                <a class="g-color-gray-dark-v2 g-text-underline--none--hover" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                            </h3>
                            <a class="text-uppercase g-font-weight-600 g-font-size-12" href="#{{ post.url | prepend: site.baseurl }}">Read More</a>
                        </div>
                    </article>
                    <!-- End Article -->
                </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- End Life as an Apprentice --> 
<!-- Interview Timeline --> 
<section class="g-py-50 g-pb-100 g-bg-gray-light-v5">
    <div class="container">
        <div class="text-center mb-4">
            <h2 class="h3 text-uppercase mb-3">{% t careers.become_a_craftsperson.hiring_process.title %}</h2>
            <div class="d-inline-block g-width-60 g-height-1 g-bg-orange mb-2"></div>
            <p class="lead mb-0">{% t careers.become_a_craftsperson.hiring_process.subtitle %}</p>
        </div>
        <!-- Icon Blocks -->
        <ul class="row list-inline u-info-v9-1 mb-0">
            <li class="col-md-3 list-inline-item g-mx-0 g-mb-30">
                <!-- Icon Blocks -->
                <div class="u-block-hover text-center g-px-40">
                    <div class="g-mb-5">
                        <span class="u-icon-v1 g-width-85 g-height-85 g-color-main g-font-size-50 rounded-circle">
                        <i class="icon-communication-006 u-line-icon-pro"></i>
                        </span>
                    </div>
                    <div class="g-mb-25">
                        <span class="u-icon-v2 u-shadow-v22 g-width-25 g-height-25 g-color-primary g-bg-white g-font-size-9 rounded-circle">
                            <i  class="fa fa-check"></i>
                        </span>
                    </div>
                    <h3 class="g-color-primary g-font-weight-600 g-font-size-17 text-uppercase mb-3">
                        <span class="g-color-main g-font-weight-700">01.</span>
                        {% t careers.become_a_craftsperson.hiring_process.step_1.title %}
                    </h3>
                    <p>{% t careers.become_a_craftsperson.hiring_process.step_1.description %}</p>
                </div>
                <!-- End Icon Blocks -->
            </li>
            <li class="col-md-3 list-inline-item g-mx-0 g-mb-30">
                <!-- Icon Blocks -->
                <div class="u-block-hover text-center g-px-40">
                    <div class="g-mb-5">
                        <span class="u-icon-v1 g-width-85 g-height-85 g-color-main g-font-size-50 rounded-circle">
                        <i class="icon-education-121 u-line-icon-pro"></i>
                        </span>
                    </div>
                    <div class="g-mb-25">
                        <span class="u-icon-v2 u-shadow-v22 g-width-25 g-height-25 g-color-primary g-bg-white g-font-size-9 rounded-circle">
                            <i class="fa fa-check"></i>
                        </span>
                    </div>
                    <h3 class="g-color-primary g-font-weight-600 g-font-size-17 text-uppercase mb-3">
                        <span class="g-color-main g-font-weight-700">02.</span>
                        {% t careers.become_a_craftsperson.hiring_process.step_2.title %}
                    </h3>
                    <p>{% t careers.become_a_craftsperson.hiring_process.step_2.description %}</p>
                </div>
                <!-- End Icon Blocks -->
            </li>
            <li class="col-md-3 list-inline-item g-mx-0 g-mb-30">
                <!-- Icon Blocks -->
                <div class="u-block-hover text-center g-px-40">
                    <div class="g-mb-5">
                        <span class="u-icon-v1 g-width-85 g-height-85 g-color-main g-font-size-50 rounded-circle">
                            <i class="icon-communication-180 u-line-icon-pro"></i>
                        </span>
                    </div>
                    <div class="g-mb-25">
                        <span class="u-icon-v2 u-shadow-v22 g-width-25 g-height-25 g-color-primary g-bg-white g-font-size-9 rounded-circle">
                            <i class="fa fa-check"></i>
                        </span>
                    </div>
                    <h3 class="g-color-primary g-font-weight-600 g-font-size-17 text-uppercase mb-3">
                        <span class="g-color-main g-font-weight-700">03.</span>
                        {% t careers.become_a_craftsperson.hiring_process.step_3.title %}
                    </h3>
                    <p>{% t careers.become_a_craftsperson.hiring_process.step_3.description %}</p>
                </div>
                <!-- End Icon Blocks -->
            </li>
            <li class="col-md-3 list-inline-item g-mx-0 g-mb-30">
                <!-- Icon Blocks -->
                <div class="u-block-hover text-center g-px-40">
                    <div class="g-mb-5">
                        <span class="u-icon-v1 g-width-85 g-height-85 g-color-main g-font-size-50 rounded-circle">
                            <i class="icon-education-167 u-line-icon-pro"></i>
                        </span>
                    </div>
                    <div class="g-mb-25">
                        <span class="u-icon-v2 u-shadow-v22 g-width-25 g-height-25 g-color-primary g-bg-white g-font-size-9 rounded-circle">
                            <i class="fa fa-check"></i>
                        </span>
                    </div>
                    <h3 class="g-color-primary g-font-weight-600 g-font-size-17 text-uppercase mb-3">
                        <span class="g-color-main g-font-weight-700">04.</span>
                        {% t careers.become_a_craftsperson.hiring_process.step_4.title %}
                    </h3>
                    <p>{% t careers.become_a_craftsperson.hiring_process.step_4.description %}</p>
                </div>
                <!-- End Icon Blocks -->
            </li>
        </ul>
        <!-- End Icon Blocks -->
    </div>
</section>
<!-- End Interview Timeline --> 
